<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Consume Express API</h1>

    <div id="persons"></div>
    <button onclick="loadData()">Load Data</button>

    <script>
        function loadData() {
            fetch('http://localhost:5000/api')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                let html = ''
                for(let row in data) {
                    let person = data[row]
                    html += "<p>" + person.id + ". " + person['name'] + "</p>"
                }
                document.getElementById('persons').innerHTML = html
            })
        }
    </script>
    
</body>
</html>